@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #515eff;
  --primary-text-color: #000646;
  --secondary-text-color: #5d85ff;
  --bg-secondary: #e2e3ff;
  --bg-primary: #f0f0ff;
  --bg-light: #f5f5ff;
  --in-progress-bg: #51dce4;
  --in-progress-text-color: #016065;
  --delay-text-color: #996101;
  --delay-bg: #ffc25f;
  --pending-text-color: #ab1d3f;
  --pending-bg: #ff618b;
}

.dark {
  --primary-text-color: #fff;
  --bg-secondary: #000329;
  --bg-primary: #000747;
  --bg-light: #000750;
}

* {
  font-family: "Noto Sans KR", "Lato", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}